<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <contextName>logback</contextName>

    <!-- 路径从application.yml 中取 ,source为application里的key -->
    <springProperty name="LOG_ERROR_PATH" source="LogPath_error"/>
    <springProperty name="LOG_INFO_PATH" source="LogPath_info"/>

    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!-- 控制台输出格式-->
            <pattern>
                %d %contextName [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </layout>
    </appender>

    <!-- 输出debug info warn 的日志文件-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 匹配规则-->
            <level>ERROR</level>
            <!-- 如果error匹配上就禁止掉-->
            <onMatch>DENY</onMatch>
            <!-- 反之就接受-->
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %d %contextName [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>${LOG_INFO_PATH}\info.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!-- 输出error 的日志文件-->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 只保存error 日志-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                %d %contextName [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>${LOG_ERROR_PATH}\error.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="consoleLog" />
        <appender-ref ref="fileInfoLog" />
        <appender-ref ref="fileErrorLog" />
    </root>

</configuration>